{% extends 'blog/base.html' %} {% block content %}

<div class="mt-4 p-5 bg-light text-dark rounded-3 techfont">
  <h1>About Me!</h1>
  <h2>
    As a computer science student, I have developed a strong foundation in
    programming and am particularly interested in using my skills to build web
    applications. One framework that I have found to be particularly useful in
    this regard is Django, a popular and powerful web framework for Python. In
    addition to my proficiency in Django, I have a strong background in computer
    science and am well-versed in other programming languages such as Java and
    C++. Furthermore, I am always looking to improve and expand my technical
    skills, and enjoy working on projects that have real-world applications. I
    am excited to continue learning and growing as a developer, and am confident
    that my skills in Django and computer science will be an asset to any team I
    work with.
  </h2>
</div>

{% endblock%}
